
<body class="d-flex align-items-center mt-5">
  <div class="container w-50 my-5 rounded-2 ">
    <div class="modal-header d-flex justify-centent-center">
      <h5 class="modal-title mt-3 " id="exampleModalLabel ">MODIFICCATION MOT DE PASSE</h5>
    </div>
    <ng-container *ngIf="this.errMsg">
      <div class="alert alert-danger" role="alert"><strong> Erreur:{{message}} </strong></div>
  </ng-container>
    <form [formGroup]="formGroup" (ngSubmit)="onUpdate()">
      <label for='prenom'>Prenom</label>
      <input type="text" formControlName="prenom" class="form-control"
      [ngClass]="{'is-invalid':submitted && formGroup.controls['prenom'].errors}" formControlName="prenom">
      <div
        *ngIf="formGroup.controls['prenom'].dirty && formGroup.controls['prenom'].errors && formGroup.controls['prenom'].errors['required']"
        class="text-danger">
        Le nom est requis
      </div>
      <div
        *ngIf="formGroup.controls['prenom'].dirty && formGroup.controls['prenom'].errors && formGroup.controls['prenom'].errors['cannotContainSpace']"
        class="text-danger">
        Espace non autorisé
      </div>

      <br />
      <label for='nom'>Nom</label>
      <input type="text" formControlName="nom" class="form-control">
      <div
        *ngIf="formGroup.controls['nom'].dirty && formGroup.controls['nom'].errors && formGroup.controls['nom'].errors['required']"
        class="text-danger">
        Le nom est requis
      </div>
      <div
        *ngIf="formGroup.controls['nom'].dirty && formGroup.controls['nom'].errors && formGroup.controls['nom'].errors['cannotContainSpace']"
        class="text-danger">
        Espace non autorisé
      </div>
      <br />
      <label for='email'>Adresse email</label>
      <input type="email" formControlName="email" class="form-control">
      <div
        *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors && formGroup.controls['email'].errors['required']"
        class="text-danger">
        L' email est requis
      </div>
      <div
        *ngIf="formGroup.controls['email'].dirty && formGroup.controls['email'].errors && formGroup.controls['email'].errors['pattern']"
        class="text-danger">
        email est invalide
      </div>
      <br />
      <div class="d-flex " style="justify-content: space-between;">
        <div><button type="submit" class="btn btn-outline-primary">Valider</button></div>
        <div><button type="button" class="btn btn-outline-danger mb-3" data-dismiss="modal"><i style="font-size: 20px;"
              class="bi bi-backspace"></i></button></div>
      </div>
    </form>
 
  </div>


  </body>