#conteneurDash
{
   
    padding: 10px 10px;
    width: 90%;
   /*  // margin-left: 120px; */
    gap: 15px;
    margin-top: -45px;

}
#sections
{
    height: 30%;
    
    background-color: #FFFFFF;
    gap: 16px;
    padding: 5px 5px;   
    display: flex;
    justify-content: center;
    gap: 24px;
    box-shadow: 2px 2px 2px 2px #000000;
    
}
#section
{
    height: 30%;
    
    background-color: #FFFFFF;
    gap: 16px;
    padding: 5px 5px;   
    display: flex;
    justify-content: center;
    gap: 24px;
  
    
}
#sectionsParam
{
    height: 30%;
    
    background-color: #FFFFFF;
    gap: 16px;
    padding: 5px 5px;   
    display: flex;
    justify-content: center;
    gap: 24px;
    box-shadow: 2px 2px 2px 2px #000000;
    
}

#sect1
{
   align-items: center;
    width: 15%;
    
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
    border: 0.3px solid black;
    margin-top: 10px;
    box-shadow: 1px 2px 2px #000000;

}
#sect2
{
   align-items: center;
    width: 15%;
    height: 92%;
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
    border: 0.3px solid black;
    margin-top: 10px;
    box-shadow: 1px 2px 2px #000000;
}
#sect3
{
   align-items: center;
  
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
    border: 0.3px solid black;
    margin-top: 10px;
    box-shadow: 1px 2px 2px #000000;
}
#sectTemp
{
   align-items: center;
   width: 50%;
   height: 80%;
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
  
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px #000000;
}

/* 
//La section de humidité de la serre */
#sectHum
{
   
    width: 50%;
    height: 80%;
    padding: 5px 6px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
  
    box-shadow: 2px 2px 2px 2px #000000;
 
    margin-top: 10px;
}

/* //La section de humidité sol de la serre */
#sectHumSol
{
    
    width: 50%;
    height: 80%;
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
    
    box-shadow: 2px 2px 2px 2px #000000;
 
    margin-top: 10px;
}
/* //La section de luminosité de la serre */
#sectLum
{
    
    width: 15%;
  
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
 
    box-shadow: 1px 2px 2px 2px #000000;
}
#Temp
{
    
    width: 15%;
    height: 100%;
    padding: 5px 5px; text-align: center;
    border-radius: 4px 4px 4px 4px ;
    border: 0.3px solid black;
    box-shadow: 1px 2px 4px #000000;
  
}
#BlocHaute
{
    width: 15%;
    height: 50%;
  
    gap: 4px;
    padding: 5px 10px;
   
}

.deuxiemebloc{
    display: flex;
    justify-content: center;
    padding: 12px;
   width: 90%;
  
    gap: 80px;
}.iconeTemp{width: 35px; height: 30px;margin-top: 7px; margin-right: 2px; }
.start{width: 20px; height: 20px;margin-top: 2px;  }
.fontaine{width: 40px; height: 30px;margin-top: -15px; margin-right: 2px; }
.acces{width: 40px; height: 20px;margin-bottom: 10px; margin-left: 45px; }

#sectionsbsc{
/*  */
    gap: 5%;
    display: flex;
    justify-content: center;
    border-radius: 6px 6px 6px 6px ;
    box-shadow:  4px  #000000;
   
}#porte{
    border: 1px solid black;
  height: 50%;
    width: 35%;
    border-radius: 6px 6px 6px 6px ;
  
      padding: 2px ;
      box-shadow: 1px 4px 4px #000000;
  
}

.icone{
    width: 40px; height: 30px;margin-top: 7px; margin-right: 2px;
  
}#imag{
    display: contents;
    justify-content: center;
width: 100%;
}
#maga{
    display: contents;
    justify-content: center;
width: 100%;
}
#mag{
    display: flex;
    justify-content: center;
   gap: 34px;
    flex-wrap: wrap ;
    width: 100%;
    
}.thhe
{
     font-weight:bold;
     color: #000000;
     text-align: center;
     font-size: 15px;
}
.TT
{
     font-weight:bold;
     color: #000000;
     text-align: center;
     font-size: 15px;
}.thh
{
     font-weight:bold;
     color: #000000;
     text-align: center;
     font-size: 15px;
     margin-bottom: 15px;
}