<div class="d-flex flex-column p-2 bd-highlight" id="conteneurDash"> 
    <div class=" d-flex-column ">

        <h6 class="thh">Données  à l’instant</h6>
 <div class="d-flex flex-column" id="sectionsParam">
    
    <!-- section Temperature -->

<div class="d-flex flex-column"  id="sect1">
    <p class="thhe">Température Humidité</p>
    <p class="TT">T: 23°C </p>
    <p class="TT">   H: 34%    </p>
</div>
<div class="" style="width: 100px;">

</div>
<div   class="d-flex flex-column"  id="sect2">
    <p class="thhe">Detecteur de Fumée</p>
    <img src="../../assets/bell-solid.svg" alt="" class="iconeTemp">
</div>
<div class="" style="width: 100px;">

</div>
<!-- deuxieme section -->
<div class="d-flex flex-column"  id="sect3">
   
    <p class="thhe">Accées<img src="../../assets/bell-solid.svg" alt="" class="acces">
    </p> 

    <img src="../../assets/stop.png" alt="" class="iconeTemp">

   <img src="../../assets/start.png" alt="" class="iconeTemp">
</div>
</div>

<div class="ll">
</div>
 </div>
 
    <div class="d-flex flex-column" id="sectionsParam">
    <!-- section Temperature -->
    
  <div class="deuxiemebloc">
 
    <div class="d-flex flex-column"  id="sectTemp">
        <p class="thhe">Température</p>
        <p class="thhe">23 °</p>
    </div>
    <div   class="d-flex flex-column"  id="sectHum">
        <p class="thhe">Etat Fontaine</p>
        <img src="../../assets/fontainemars.png" alt="" class="fontaine">
    </div>
    <div class="d-flex flex-column"  id="sectHumSol">
        <p class="thhe">Sécurité </p>
        <img src="../../assets/bell-solid.svg" alt="" class="fontaine">
    </div>
    <div class="d-flex flex-column"  id="sectHumSol">
     <p class="thhe">Ensoilemenent </p>
     <p class="thhe">23 LUX</p>
 </div>
  </div>
   </div>


 <!--   section bas -->
   <div  class="d-flex" id="sectionsbsc">
  
<div class="d-flexd-flex justify-center items-center rounded-md flex-col" id="porte">
<!--     porte -->

    <div class=" d-flex flex-column" id="mag">
        <div class="d-flex">
            <img src="../../assets/portesouvert.png" alt="" class="icone"> 
            <p class="">Accées</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/portefermer.png" alt="" class="icone"> 
            <p class="">Salon</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/portesouvert.png" alt="" class="icone"> 
            <p class="">Cuisine</p>
        </div>
    
</div>
<div class="vv">
</div>
<div class="d-flex flex-column" id="mag">
    <div class="d-flex">
        <img src="../../assets/portefermer.png" alt="" class="icone"> 
        <p class="">Parent</p>
    </div>
   
    <div class="d-flex">
        <img src="../../assets/portefermer.png" alt="" class="icone"> 
        <p class="">Enfant</p>
    </div>
    
    <div class="d-flex">
        <img src="../../assets/portesouvert.png" alt="" class="icone"> 
        <p class="">Locataire</p>
    </div>
</div> 


<!-- portes fenetres -->
</div>
<div class="d-flex flex-column"id="porte">
    <div class="" id="mag">
        <div class="d-flex">
            <img src="../../assets/fenetresouvert.png" alt="" class="icone"> 
            <p class="">Locataire</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/fenetreferner.png" alt="" class="icone"> 
            <p class="">Locataire</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/fenetresouvert.png" alt="" class="icone"> 
            <p class="">Locataire</p>
        </div>
    </div> 
    <div class="vv">
    </div>
    <div class="d-flex flex-column" id="mag">
        <div class="d-flex">
            <img src="../../assets/fenetreferner.png" alt="" class="icone"> 
            <p class="">Locataire</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/fenetresouvert.png" alt="" class="icone"> 
            <p class="">Locataire</p>
        </div>
        <div class="d-flex">
            <img src="../../assets/fenetreferner.png" alt="" class="icone"> 
            <p class="">Locataire</p>
        </div>
    </div> 
</div>
   </div>
</div>